flow.json
[{"id":"bb73aa2.84cb358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ee23951.839188","type":"sfmc","z":"","name":"Reseller"},{"id":"3570f081.6b7c8","type":"google-service-account","z":"","name":"retailer","scope":["https://www.googleapis.com/auth/cloud-platform"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"d4840c8c.4c397","type":"contact-event","z":"bb73aa2.84cb358","name":"","sfmcConfig":"9ee23951.839188","payloadKey":"sfmcEvent","x":520,"y":280,"wires":[[]]},{"id":"1d072301.e6a66d","type":"http in","z":"bb73aa2.84cb358","name":"","url":"/webhookLine","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["36ba565c.19c74a"]]},{"id":"84433c87.1575","type":"http response","z":"bb73aa2.84cb358","name":"response","statusCode":"200","headers":{},"x":926.0000076293945,"y":64.00000190734863,"wires":[]},{"id":"aa3e68f.11cb998","type":"change","z":"bb73aa2.84cb358","name":"setLineVariablesForInbound","rules":[{"t":"set","p":"userId","pt":"msg","to":"payload.events[0].source.userId","tot":"msg"},{"t":"set","p":"inboundMessage","pt":"msg","to":"payload.events[0].message.text","tot":"msg"},{"t":"set","p":"sfmcEvent","pt":"msg","to":"\t{\t  \"ContactKey\": payload.events[0].source.userId,\t  \"EventDefinitionKey\": \"LineIot\",\t  \"Data\": {\t    \"ContactKey\": payload.events[0].source.userId,\t    \"Payload\": payload.events[0].message.text\t  }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":533.1000061035156,"y":140.00000095367432,"wires":[["d4840c8c.4c397","84433c87.1575","f58fd141.2d3b2"]]},{"id":"36ba565c.19c74a","type":"switch","z":"bb73aa2.84cb358","name":"MessageType","property":"payload.events[0].type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":261.1000061035156,"y":139.00000190734863,"wires":[["aa3e68f.11cb998"],[]]},{"id":"e9546980.e7c588","type":"debug","z":"bb73aa2.84cb358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":895.0999755859375,"y":23,"wires":[]},{"id":"80d6c09b.595e8","type":"linebot-client","z":"bb73aa2.84cb358","name":"retailer","channelAccessToken":"cktNR4WZI/KofisT/SA+j0d/4hLB//tlhsNe8yjut1PMuPRImE8BBP4u8Pj7W2mKm3674Me5NpaYpkhdiPbISxbTO4rOi0IMkIlIaW43vFD3zyB3IKvHN/eqhsBFUfVsJRKEiz4XSJ9+iWDJzhtPDgdB04t89/1O/w1cDnyilFU=","channelSecret":"bf83779fda8ea17705ee47a42fa0659d","x":401.0999984741211,"y":474.2000045776367,"wires":[[]]},{"id":"f58fd141.2d3b2","type":"dialogflow","z":"bb73aa2.84cb358","name":"","tokenv1":"","tokenv2":"3570f081.6b7c8","session":"userId","sessionType":"msg","language":"en","languageType":"str","text":"inboundMessage","textType":"msg","intent":"intent","intentType":"msg","action":"query","actionitemaddupd":"entities-single","actionitemget":"entities-single","actionitemdel":"entities-single","selaction":"get","itemid":"","itemidType":"msg","object":"","objectType":"msg","version":"v2","x":671.1000595092773,"y":227.80002737045288,"wires":[["26a6a8e6.662518","e9546980.e7c588"],[]]},{"id":"26a6a8e6.662518","type":"change","z":"bb73aa2.84cb358","name":"getResponse","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, {\"type\":\"text\",\"text\":intent.queryResult.fulfillmentText}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440.10005950927734,"y":391.00000190734863,"wires":[["80fa74e1.af58b8"]]},{"id":"80fa74e1.af58b8","type":"switch","z":"bb73aa2.84cb358","name":"AdditionalCheck?","property":"intent.queryResult.intent.displayName","propertyType":"msg","rules":[{"t":"eq","v":"Registration","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":668.1000518798828,"y":361.0000057220459,"wires":[[],["80d6c09b.595e8"]]}]