flow.json
[{"id":"b36167eb.b7db08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ee23951.839188","type":"sfmc","z":"","name":"Reseller"},{"id":"2f0f3e59.b418b2","type":"contact-event","z":"b36167eb.b7db08","name":"","sfmcConfig":"9ee23951.839188","payloadKey":"eventPayload","x":520,"y":280,"wires":[["4f4b4198.0d1c5"]]},{"id":"414936e2.9888b8","type":"function","z":"b36167eb.b7db08","name":"EventPayload","func":"\nmsg.eventPayload = {\n  \"ContactKey\": \"1\",\n  \"EventDefinitionKey\": \"LineIot\",\n  \"Data\": {\n    \"ContactKey\": \"1\",\n    \"Payload\": msg.payload\n  }\n}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["2f0f3e59.b418b2","16754f6f.bc42d1","890868ab.e81538"]]},{"id":"12de0204.fae83e","type":"http in","z":"b36167eb.b7db08","name":"","url":"/webhookLine","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["4ec8a42f.6a327c"]]},{"id":"16754f6f.bc42d1","type":"http response","z":"b36167eb.b7db08","name":"response","statusCode":"200","headers":{},"x":650,"y":160,"wires":[]},{"id":"4f4b4198.0d1c5","type":"debug","z":"b36167eb.b7db08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":260,"wires":[]},{"id":"890868ab.e81538","type":"debug","z":"b36167eb.b7db08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"eventPayload","x":590,"y":200,"wires":[]},{"id":"4ec8a42f.6a327c","type":"switch","z":"b36167eb.b7db08","name":"Check JSON Object","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"json","vt":"json"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":280,"y":100,"wires":[["16754f6f.bc42d1"],["414936e2.9888b8"]]}]