flow.json
[{"id":"bb73aa2.84cb358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c9481e36.99a2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9ee23951.839188","type":"sfmc","z":"","name":"Reseller"},{"id":"3570f081.6b7c8","type":"google-service-account","z":"","name":"retailer","scope":["https://www.googleapis.com/auth/cloud-platform"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"d4840c8c.4c397","type":"contact-event","z":"bb73aa2.84cb358","name":"","sfmcConfig":"9ee23951.839188","x":520,"y":280,"wires":[[]]},{"id":"1d072301.e6a66d","type":"http in","z":"bb73aa2.84cb358","name":"","url":"/webhookLine","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["36ba565c.19c74a"]]},{"id":"84433c87.1575","type":"http response","z":"bb73aa2.84cb358","name":"response","statusCode":"200","headers":{},"x":926.0000076293945,"y":64.00000190734863,"wires":[]},{"id":"aa3e68f.11cb998","type":"change","z":"bb73aa2.84cb358","name":"setLineVariablesForInbound","rules":[{"t":"set","p":"userId","pt":"msg","to":"payload.events[0].source.userId","tot":"msg"},{"t":"set","p":"inboundMessage","pt":"msg","to":"payload.events[0].message.text","tot":"msg"},{"t":"set","p":"sfmcEvent","pt":"msg","to":"\t{\t  \"ContactKey\": payload.events[0].source.userId,\t  \"EventDefinitionKey\": \"LineIot\",\t  \"Data\": {\t    \"ContactKey\": payload.events[0].source.userId,\t    \"Payload\": payload.events[0].message.text\t  }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":533.1000061035156,"y":140.00000095367432,"wires":[["d4840c8c.4c397","84433c87.1575","f58fd141.2d3b2"]]},{"id":"36ba565c.19c74a","type":"switch","z":"bb73aa2.84cb358","name":"MessageType","property":"payload.events[0].type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":261.1000061035156,"y":139.00000190734863,"wires":[["aa3e68f.11cb998"],[]]},{"id":"e9546980.e7c588","type":"debug","z":"bb73aa2.84cb358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":895.0999755859375,"y":23,"wires":[]},{"id":"80d6c09b.595e8","type":"linebot-client","z":"bb73aa2.84cb358","name":"retailer","channelAccessToken":"cktNR4WZI/KofisT/SA+j0d/4hLB//tlhsNe8yjut1PMuPRImE8BBP4u8Pj7W2mKm3674Me5NpaYpkhdiPbISxbTO4rOi0IMkIlIaW43vFD3zyB3IKvHN/eqhsBFUfVsJRKEiz4XSJ9+iWDJzhtPDgdB04t89/1O/w1cDnyilFU=","channelSecret":"bf83779fda8ea17705ee47a42fa0659d","x":401.0999984741211,"y":474.2000045776367,"wires":[[]]},{"id":"f58fd141.2d3b2","type":"dialogflow","z":"bb73aa2.84cb358","name":"","tokenv1":"","tokenv2":"3570f081.6b7c8","session":"userId","sessionType":"msg","language":"en","languageType":"str","text":"inboundMessage","textType":"msg","intent":"intent","intentType":"msg","action":"query","actionitemaddupd":"entities-single","actionitemget":"entities-single","actionitemdel":"entities-single","selaction":"get","itemid":"","itemidType":"msg","object":"","objectType":"msg","version":"v2","x":671.1000595092773,"y":227.80002737045288,"wires":[["26a6a8e6.662518","e9546980.e7c588"],[]]},{"id":"26a6a8e6.662518","type":"change","z":"bb73aa2.84cb358","name":"getResponse","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, {\"type\":\"text\",\"text\":intent.queryResult.fulfillmentText}\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440.10005950927734,"y":391.00000190734863,"wires":[["80fa74e1.af58b8"]]},{"id":"80fa74e1.af58b8","type":"switch","z":"bb73aa2.84cb358","name":"AdditionalCheck?","property":"intent.queryResult.intent.displayName","propertyType":"msg","rules":[{"t":"eq","v":"Registration","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":668.1000518798828,"y":361.0000057220459,"wires":[[],["80d6c09b.595e8"]]},{"id":"86c732be.0d9c5","type":"http in","z":"c9481e36.99a2","name":"","url":"/attrib","method":"post","upload":false,"swaggerDoc":"","x":191.10000610351562,"y":196.20001220703125,"wires":[["40b54466.510cfc"]]},{"id":"40b54466.510cfc","type":"change","z":"c9481e36.99a2","name":"defineFilter","rules":[{"t":"set","p":"filter","pt":"msg","to":"{\t   \"operator\": \"And\",\t   \"conditionSets\": [],\t   \"conditions\":  [\t       {\t           \"attribute\": {\t               \"key\": \"Email Addresses.Email Address\",\t               \"id\": \"\",\t               \"isCustomerData\": false\t           \t           },\t           \"operator\": \"Equals\",\t           \"value\": {\t               \"items\": [payload.EmailAddress]\t                        \t           \t           \t           }\t                    \t       \t       \t       }\t                \t   \t   \t   ]\t        \t    \t\t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":381.10003662109375,"y":254.60000610351562,"wires":[["6cf35b5a.eb53d4","aee4e4a5.731228"]]},{"id":"3e413d1.f6f57c2","type":"http response","z":"c9481e36.99a2","name":"","statusCode":"404","headers":{},"x":820.1000595092773,"y":165.60000801086426,"wires":[]},{"id":"c4f3df74.2e8ef","type":"http response","z":"c9481e36.99a2","name":"","statusCode":"500","headers":{},"x":857.1000595092773,"y":87.40000343322754,"wires":[]},{"id":"15e93ebf.541b31","type":"change","z":"c9481e36.99a2","name":"Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"result.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":709.1000595092773,"y":48.00000190734863,"wires":[["38c0e7ee.addc88"]]},{"id":"3478f0f0.384be","type":"switch","z":"c9481e36.99a2","name":"Response Selector","property":"result","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"gt","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":462.10005950927734,"y":82,"wires":[["15e93ebf.541b31"],["86f528c7.ee7ee8"],["3e413d1.f6f57c2"]]},{"id":"86f528c7.ee7ee8","type":"change","z":"c9481e36.99a2","name":"Ambiguous","rules":[{"t":"set","p":"payload","pt":"msg","to":"result.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":713.1000595092773,"y":88.00000190734863,"wires":[["c4f3df74.2e8ef"]]},{"id":"38c0e7ee.addc88","type":"http response","z":"c9481e36.99a2","name":"","statusCode":"200","headers":{},"x":898.1000366210938,"y":31.400001525878906,"wires":[]},{"id":"6cf35b5a.eb53d4","type":"getContacts","z":"c9481e36.99a2","name":"","sfmcConfig":"9ee23951.839188","filter":"filter","filterType":"msg","x":596.1000366210938,"y":297.7000060081482,"wires":[["3478f0f0.384be","7d2add2.a10bf24"],[],[]]},{"id":"7d2add2.a10bf24","type":"debug","z":"c9481e36.99a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":839.1000366210938,"y":246.59999990463257,"wires":[]},{"id":"2ed41c54.d946f4","type":"debug","z":"c9481e36.99a2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"filter","x":420.10003662109375,"y":376.59999990463257,"wires":[]},{"id":"aee4e4a5.731228","type":"function","z":"c9481e36.99a2","name":"toString","func":"\nmsg.filter = JSON.stringify(msg.filter);\nreturn msg;","outputs":1,"noerr":0,"x":458.10003662109375,"y":322.59999990463257,"wires":[["2ed41c54.d946f4"]]}]